CacheControl==0.12.4
cachetools==2.0.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
diff-match-patch==20121119
enum34==1.1.6
eventlet==0.22.1
firebase-admin==2.10.0
Flask==0.12.2
Flask-SocketIO==2.9.6
futures==3.2.0
google-api-core==1.1.0
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-firestore==0.29.0
google-cloud-storage==1.8.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
greenlet==0.4.13
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
msgpack-python==0.5.6
netifaces==0.10.6
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-engineio==2.0.4
python-socketio==1.9.0
pytz==2018.4
requests==2.18.4
richtextpy==0.2
rsa==3.4.2
six==1.11.0
socketio==0.0.7
urllib3==1.22
Werkzeug==0.15.3
