<!DOCTYPE html>
<html>
    <head>
        <title>Jot Pad</title>
        <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
        <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/quill-ot.js"></script>
        <script src="/static/katex.min.js"></script>
        <script src="/static/socketio.js"></script>
        <link href="/static/katex.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="editor-holder" id="{{Id}}">
            <div id="toolbar">
                <!-- Add buttons as you would before -->
                <button class="ql-bold">Bold</button>
                <button class="ql-italic">Italic</button>
                <button class="ql-formula">Formula</button>
                
                <!-- But you can also add your own -->
                <button id="add-stack">Stack</button>
            </div>
            <div id="editor"></div>
        </div>
        <script src="/static/rich.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>